<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lip Sync TTS</title>
</head>
<body style="display: flex; flex-direction: row;">
    <form action="/" method="post">
        <textarea name="text" cols="30" rows="10"></textarea>
        <button type="submit">Speak</button>
    </form>
    <canvas id="lipCanvas" width="1000" height="1000"></canvas>

    {% if request.method == 'POST' %}
        <audio src="{{ audio_file }}"></audio>
        <div id="imgs" style="display: none;">
            {% for shape in mouth_shapes %}
                <img src="{{ shape }}" alt="mouth shape" width="50" height="50" />
            {% endfor %}
        </div>
        <div id="comb" style="display: none;">
            {% for com in combined %}
                <p>{{ com }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <script>
        var canvas = document.getElementById("lipCanvas");
        var ctx = canvas.getContext("2d");
        var audio = document.getElementsByTagName("audio")[0];
        
        audio.addEventListener('loadedmetadata', function() {
            var audioLength = Math.abs(audio.duration);
            var numSections = document.getElementById("imgs").childElementCount;
            var sectionLength = audioLength / numSections;

            audio.play();

            let combined = document.getElementById("comb").children;
            combined = Array.from(combined).map(function(item) {
                let inner = item.innerHTML;
                inner = inner.replace("(", "").replace(")", "");
                let [imgPath, start] = inner.split(",");
                imgPath = imgPath.replace(/'/g, "").trim();
                start = parseFloat(start.trim());
                return {imgPath: imgPath, start: start};
            });

            for(let i = 0; i < combined.length; i++) {
                let imgPath = combined[i].imgPath;
                let start = combined[i].start;
                if(start < 0) start = 0;
                let image = new Image();
                image.src = imgPath;
                image.onload = function() {
                    setTimeout(function() {
                        ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
                    }, start * 1000);
                };
            }

            if(audioLength < 0) audioLength = 0;
            setTimeout(function() {
                let defaultImg = new Image();
                defaultImg.src = "static/lip_shapes/TS.png";
                defaultImg.onload = function() {
                    ctx.drawImage(defaultImg, 0, 0, canvas.width, canvas.height);
                }
            }, audioLength * 1000);
        });
    </script>
</body>
</html>
